In [1]:
import pandas as pd
import numpy as np

In [2]:
books = pd.read_csv('books.csv')
users = pd.read_csv('users.csv')
ratings = pd.read_csv('ratings.csv')

C:\Users\HP\AppData\Local\Temp\ipykernel_10596\3819754567.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books = pd.read_csv('books.csv')

In [3]:
books.head(6)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...
5,0399135782,The Kitchen God's Wife,Amy Tan,1991,Putnam Pub Group,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...

In [4]:
users.head(6)

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN
5        6       santa monica, california, usa  61.0

In [5]:
ratings.head(6)

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6
5   276733  2080674722            0

## Knowledge we have uncovered from Dataframe:
- there are three csv
  - books
  - ratings
  - users
- books_df description:
  - this dataframe has ISBN, Book-titles,Authors, URLS 
  - no duplicated value
  - It's a simple data with ISBN and their respective book details
- ratings_df description:
  - this dataframe has User-ID, Book-title, ratings
  - this dataframe has multiple user rating multiple books

## Things we are doing
- we need to find out the avg rating of each books and see which on is most popular 
- we will see the books with avf rating on descending order.

In [6]:
print(ratings['User-ID'].nunique())
print(ratings['ISBN'].nunique())

105283
340556

#### We will merge the ratings with books dataframe

In [7]:
book_ratings = ratings.merge(books,on="ISBN")

In [8]:
book_ratings.head(3)

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
1,2313,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
2,6543,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...

#### we will use groupby operation on Book-title and see the count of number of rating each book has got

In [9]:
book_ratings.groupby("Book-Title").count()

,User-ID,ISBN,Book-Rating,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
Book-Title,,,,,,,,,
"A Light in the Storm: The Civil War Diary of Amelia Martin, Fenwick Island, Delaware, 1861 (Dear America)",4,4,4,4,4,4,4,4,4
Always Have Popsicles,1,1,1,1,1,1,1,1,1
Apple Magic (The Collector's series),1,1,1,1,1,1,1,1,1
"Ask Lily (Young Women of Faith: Lily Series, Book 5)",1,1,1,1,1,1,1,1,1
Beyond IBM: Leadership Marketing and Finance for the 1990s,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...
Ã?Â?lpiraten.,2,2,2,2,2,2,2,2,2
Ã?Â?rger mit Produkt X. Roman.,4,4,4,4,4,4,4,4,4
Ã?Â?sterlich leben.,1,1,1,1,1,1,1,1,1
Ã?Â?stlich der Berge.,3,3,3,3,3,3,3,3,3
Ã?Â?thique en toc,2,2,2,2,2,2,2,2,2

## Below code takes the number of book ratings and forms a new dataframe using:
- reset_index()

In [10]:
books_with_no_of_ratings = book_ratings.groupby("Book-Title").count()['Book-Rating'].reset_index()

#### Now renaming the dataframe

In [11]:
books_with_no_of_ratings.rename(columns={"Book-Rating":"num_ratings"},inplace=True)
books_with_no_of_ratings

                                               Book-Title  num_ratings
0        A Light in the Storm: The Civil War Diary of ...            4
1                                   Always Have Popsicles            1
2                    Apple Magic (The Collector's series)            1
3        Ask Lily (Young Women of Faith: Lily Series, ...            1
4        Beyond IBM: Leadership Marketing and Finance ...            1
...                                                   ...          ...
241066                                      Ã?Â?lpiraten.            2
241067                     Ã?Â?rger mit Produkt X. Roman.            4
241068                                Ã?Â?sterlich leben.            1
241069                              Ã?Â?stlich der Berge.            3
241070                                  Ã?Â?thique en toc            2

[241071 rows x 2 columns]

#### Again doing the groupby operation on Book-rating but with mean approach.

In [12]:
books_with_avg_no_of_ratings = book_ratings[["Book-Rating","Book-Title"]].groupby("Book-Title").mean().reset_index()
books_with_avg_no_of_ratings.rename(columns={"Book-Rating":"avg_num_ratings"},inplace=True)
books_with_avg_no_of_ratings

                                               Book-Title  avg_num_ratings
0        A Light in the Storm: The Civil War Diary of ...         2.250000
1                                   Always Have Popsicles         0.000000
2                    Apple Magic (The Collector's series)         0.000000
3        Ask Lily (Young Women of Faith: Lily Series, ...         8.000000
4        Beyond IBM: Leadership Marketing and Finance ...         0.000000
...                                                   ...              ...
241066                                      Ã?Â?lpiraten.         0.000000
241067                     Ã?Â?rger mit Produkt X. Roman.         5.250000
241068                                Ã?Â?sterlich leben.         7.000000
241069                              Ã?Â?stlich der Berge.         2.666667
241070                                  Ã?Â?thique en toc         4.000000

[241071 rows x 2 columns]

## Now let's merge both of them

In [13]:
popular_book_df = books_with_no_of_ratings.merge(books_with_avg_no_of_ratings,on="Book-Title")

## Now we only want books with number of rating more than 250.
- we also sorted the books in descending order on the basis of "avg_num_ratings" columns

In [14]:
popular_book_df = popular_book_df[popular_book_df['num_ratings']>=250].sort_values("avg_num_ratings",ascending=False)

In [15]:
popular_book_df.head(40)

,Book-Title,num_ratings,avg_num_ratings
80434,Harry Potter and the Prisoner of Azkaban (Book 3),428,5.852804
80422,Harry Potter and the Goblet of Fire (Book 4),387,5.824289
80441,Harry Potter and the Sorcerer's Stone (Book 1),278,5.737410
80426,Harry Potter and the Order of the Phoenix (Boo...,347,5.501441
80414,Harry Potter and the Chamber of Secrets (Book 2),556,5.183453
191612,The Hobbit : The Enchanting Prelude to The Lor...,281,5.007117
187377,The Fellowship of the Ring (The Lord of the Ri...,368,4.948370
80445,Harry Potter and the Sorcerer's Stone (Harry P...,575,4.895652
211384,"The Two Towers (The Lord of the Rings, Part 2)",260,4.880769
219741,To Kill a Mockingbird,510,4.700000
183573,The Da Vinci Code,898,4.642539
187880,The Five People You Meet in Heaven,430,4.551163
180556,The Catcher in the Rye,449,4.545657
196326,The Lovely Bones: A Novel,1295,4.468726
764,1984,284,4.454225
144165,Prodigal Summer: A Novel,253,4.450593
128670,Neverwhere,265,4.449057
206502,The Secret Life of Bees,774,4.447028
168719,Stupid White Men ...and Other Sorry Excuses fo...,283,4.356890
223135,"Tuesdays with Morrie: An Old Man, a Young Man,...",493,4.354970
204387,The Red Tent (Bestselling Backlist),723,4.334716
191589,The Hitchhiker's Guide to the Galaxy,268,4.328358
129379,Nickel and Dimed: On (Not) Getting By in America,335,4.289552
93381,Into the Wild,252,4.273810
63867,Fahrenheit 451,409,4.264059
74750,Girl with a Pearl Earring,526,4.218631
136145,Outlander,283,4.173145
233370,Where the Heart Is (Oprah's Book Club (Paperba...,585,4.105983
156102,Seabiscuit: An American Legend,275,4.098182
107962,Life of Pi,664,4.088855
176845,The Bean Trees,389,4.087404
2281,"A Child Called \It\"": One Child's Courage to S...",265,4.086792
8434,ANGELA'S ASHES,279,4.075269
76343,Good in Bed,490,4.055102
64931,Fast Food Nation: The Dark Side of the All-Ame...,321,4.037383
12700,American Gods,302,4.006623
161645,Skipping Christmas,322,4.006211
105777,Left Behind: A Novel of the Earth's Last Days ...,318,4.003145
189551,"The Golden Compass (His Dark Materials, Book 1)",336,4.000000
181679,The Color Purple,314,3.964968

In [16]:
popular_book_df.merge(books,on="Book-Title").drop_duplicates("Book-Title")[['Book-Title','num_ratings','avg_num_ratings','Book-Author']]

,Book-Title,num_ratings,avg_num_ratings,Book-Author
0,Harry Potter and the Prisoner of Azkaban (Book 3),428,5.852804,J. K. Rowling
3,Harry Potter and the Goblet of Fire (Book 4),387,5.824289,J. K. Rowling
5,Harry Potter and the Sorcerer's Stone (Book 1),278,5.737410,J. K. Rowling
9,Harry Potter and the Order of the Phoenix (Boo...,347,5.501441,J. K. Rowling
13,Harry Potter and the Chamber of Secrets (Book 2),556,5.183453,J. K. Rowling
...,...,...,...,...
716,Vinegar Hill (Oprah's Book Club (Paperback)),265,2.245283,A. Manette Ansay
717,Whispers,286,2.199301,BELVA PLAIN
727,Presumed Innocent,294,2.139456,Scott Turow
733,Isle of Dogs,288,2.000000,Patricia Cornwell
739,Wild Animus,2502,1.019584,Rich Shapero

# Above shows the popularity based recommendation system
- used average rating system

## Below lies the collaborative filtering system

In [17]:
book_ratings.head(5)

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
1,2313,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
2,6543,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
3,8680,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
4,10314,034545104X,9,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...

#### Now, we will use groupby method on User-ID to take out those users who has voted the books more than 200 times

In [18]:
x = book_ratings.groupby('User-ID').count()['Book-Rating']>200
usersID_who_voted_more_than_200 = x[x].index

In [19]:
users_voted_more_than_200_times =  book_ratings[book_ratings['User-ID'].isin(usersID_who_voted_more_than_200)]

In [47]:
users_voted_more_than_200_times.head(5)

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
2,6543,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
5,23768,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
7,28523,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
15,77940,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
16,81977,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...

#### Now we will use groupby on Book-title for those books which has been rated more than 50 times by users.

In [48]:
y = users_voted_more_than_200_times.groupby("Book-Title").count()['Book-Rating']>50
index_of_books_which_has_been_rated_more_than_50_times = y[y].index

In [49]:
index_of_books_which_has_been_rated_more_than_50_times

Index(['1984', '1st to Die: A Novel', '2nd Chance', '4 Blondes',
       'A Bend in the Road', 'A Case of Need',
       'A Child Called \It\": One Child's Courage to Survive"',
       'A Civil Action', 'A Day Late and a Dollar Short', 'A Fine Balance',
       ...
       'Winter Solstice', 'Wish You Well', 'Without Remorse',
       'Wizard and Glass (The Dark Tower, Book 4)', 'Wuthering Heights',
       'Year of Wonders', 'You Belong To Me',
       'Zen and the Art of Motorcycle Maintenance: An Inquiry into Values',
       'Zoya', '\O\" Is for Outlaw"'],
      dtype='object', name='Book-Title', length=679)

In [43]:
final_df = users_voted_more_than_200_times[users_voted_more_than_200_times['Book-Title'].isin(index_of_books_which_has_been_rated_more_than_50_times)]

In [51]:
dump_df = final_df.drop_duplicates('Book-Title')

In [25]:
final_df.duplicated().sum()

0

#### Pivot Table function will make a rows as 'Book-Title' and columns as 'User-ID' and inside those 'Book-Rating'

In [26]:
pivot_table = final_df.pivot_table(index='Book-Title',columns='User-ID',values='Book-Rating')

In [27]:
pivot_table.shape

(679, 810)

#### User = 679 
#### Books = 810

In [28]:
pivot_table.fillna(0,inplace=True)

In [29]:
pivot_table

User-ID,254,2276,2766,2977,3363,4017,4385,6251,6323,6543,...,271705,273979,274004,274061,274301,274308,275970,277427,277639,278418
Book-Title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Bend in the Road,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0

### As you can see the book has became vectors of len = 810.
- each books vector is 810 and now we can see cosine similarity between each books

In [30]:
from sklearn.metrics.pairwise import cosine_similarity

## Similarity Scores of each 679 books with 679 books

In [31]:
similarity = cosine_similarity(pivot_table)

In [32]:
similarity.shape

(679, 679)

### Now we use similarity matrix for choosing the top 5 closest books
- np.where provides the index of book_name provided by user in our pivot_table
- then we use similarity matrix to find out the similarity scores
- we enumerates the scores because it includes both scores and index position
- then we sort the similarity_scores_with_indexes in descending order
- takeout only top5 books
- suggest them

In [93]:
def recommend(book_name):
    index_position = np.where(pivot_table.index==book_name)[0][0]
    
    similarity_scores_ = similarity[index_position]
    
    similarity_scores_with_indexes = list(enumerate(similarity_scores_))
    reverse_sorted_similarity_scores_with_indexes = sorted(similarity_scores_with_indexes,reverse=True,key=lambda x:x[1])
    top5_books = reverse_sorted_similarity_scores_with_indexes[0:6]
   
    suggestion = [book_name]
    books = []

    for i in top5_books:
        
#         print(dump_df.iloc[i[0]]['Book-Title'])
#         print( dump_df[dump_df['Book-Title']==pivot_table.index[i[0]]] )
        
        books.append([ pivot_table.index[i[0]], (1-i[1]) ])
    suggestion.append(books[1:])
    return suggestion

In [94]:
recommend("Where the Heart Is (Oprah's Book Club (Paperback))")

["Where the Heart Is (Oprah's Book Club (Paperback))",
 [['Blue Diary', 0.7066704391186633],
  ['The Lovely Bones: A Novel', 0.7258252721924163],
  ['I Know This Much Is True', 0.742740763134136],
  ['Icy Sparks', 0.7581389557327153],
  ['Deck the Halls (Holiday Classics)', 0.7794012662049634]]]

In [62]:
dump_df.iloc[607]['Book-Title']

'The Bourne Identity'

In [64]:
recommend("The Two Towers (The Lord of the Rings, Part 2)")

        User-ID        ISBN  Book-Rating  \
196995      254  0618002235            0

                                            Book-Title       Book-Author  \
196995  The Two Towers (The Lord of the Rings, Part 2)  J. R. R. Tolkien

       Year-Of-Publication                 Publisher  \
196995                1999  Houghton Mifflin Company

                                              Image-URL-S  \
196995  http://images.amazon.com/images/P/0618002235.0...

                                              Image-URL-M  \
196995  http://images.amazon.com/images/P/0618002235.0...

                                              Image-URL-L
196995  http://images.amazon.com/images/P/0618002235.0...
        User-ID        ISBN  Book-Rating  \
128261    11676  0618129030            8

                                               Book-Title       Book-Author  \
128261  The Fellowship of the Ring (The Lord of the Ri...  J. R. R. Tolkien

       Year-Of-Publication                 Publisher  \
128261                2001  Houghton Mifflin Company

                                              Image-URL-S  \
128261  http://images.amazon.com/images/P/0618129030.0...

                                              Image-URL-M  \
128261  http://images.amazon.com/images/P/0618129030.0...

                                              Image-URL-L
128261  http://images.amazon.com/images/P/0618129030.0...
        User-ID        ISBN  Book-Rating  \
245073    13552  0345339738            0

                                               Book-Title     Book-Author  \
245073  The Return of the King (The Lord of the Rings,...  J.R.R. TOLKIEN

       Year-Of-Publication Publisher  \
245073                1986   Del Rey

                                              Image-URL-S  \
245073  http://images.amazon.com/images/P/0345339738.0...

                                              Image-URL-M  \
245073  http://images.amazon.com/images/P/0345339738.0...

                                              Image-URL-L
245073  http://images.amazon.com/images/P/0345339738.0...
       User-ID        ISBN  Book-Rating                        Book-Title  \
75511   278418  0064400557            0  Charlotte's Web (Trophy Newbery)

       Book-Author Year-Of-Publication     Publisher  \
75511  E. B. White                1974  HarperTrophy

                                             Image-URL-S  \
75511  http://images.amazon.com/images/P/0064400557.0...

                                             Image-URL-M  \
75511  http://images.amazon.com/images/P/0064400557.0...

                                             Image-URL-L
75511  http://images.amazon.com/images/P/0064400557.0...
       User-ID        ISBN  Book-Rating  \
48785   277427  0345339681            0

                                              Book-Title     Book-Author  \
48785  The Hobbit : The Enchanting Prelude to The Lor...  J.R.R. TOLKIEN

      Year-Of-Publication Publisher  \
48785                1986   Del Rey

                                             Image-URL-S  \
48785  http://images.amazon.com/images/P/0345339681.0...

                                             Image-URL-M  \
48785  http://images.amazon.com/images/P/0345339681.0...

                                             Image-URL-L
48785  http://images.amazon.com/images/P/0345339681.0...
       User-ID        ISBN  Book-Rating                            Book-Title  \
97938     6251  0804105820            0  It Was on Fire When I Lay Down on It

          Book-Author Year-Of-Publication  Publisher  \
97938  Robert Fulghum                1993  Ivy Books

                                             Image-URL-S  \
97938  http://images.amazon.com/images/P/0804105820.0...

                                             Image-URL-M  \
97938  http://images.amazon.com/images/P/0804105820.0...

                                             Image-URL-L
97938  http://images.amazon.com/images/P/0804105820.0...

['The Two Towers (The Lord of the Rings, Part 2)',
 'The Fellowship of the Ring (The Lord of the Rings, Part 1)',
 'The Return of the King (The Lord of the Rings, Part 3)',
 "Charlotte's Web (Trophy Newbery)",
 'The Hobbit : The Enchanting Prelude to The Lord of the Rings',
 'It Was on Fire When I Lay Down on It']

In [35]:
import pickle

In [39]:
dashboards = popular_book_df.merge(books,on='Book-Title').drop_duplicates('Book-Title')

In [41]:
pickle.dump(dashboards,open('dashboard.pkl','wb'))

In [45]:
final_df

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
63,278418,0446520802,0,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
65,3363,0446520802,0,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
66,7158,0446520802,10,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
69,11676,0446520802,10,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
74,23768,0446520802,6,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
...,...,...,...,...,...,...,...,...,...,...
1026724,266865,0531001725,10,The Catcher in the Rye,Jerome David Salinger,1973,Scholastic Library Pub,http://images.amazon.com/images/P/0531001725.0...,http://images.amazon.com/images/P/0531001725.0...,http://images.amazon.com/images/P/0531001725.0...
1027923,269566,0670809381,0,Echoes,Maeve Binchy,1986,Penguin USA,http://images.amazon.com/images/P/0670809381.0...,http://images.amazon.com/images/P/0670809381.0...,http://images.amazon.com/images/P/0670809381.0...
1028777,271284,0440910927,0,The Rainmaker,John Grisham,1995,Island,http://images.amazon.com/images/P/0440910927.0...,http://images.amazon.com/images/P/0440910927.0...,http://images.amazon.com/images/P/0440910927.0...
1029070,271705,B0001PIOX4,0,Fahrenheit 451,Ray Bradbury,1993,Simon &amp; Schuster,http://images.amazon.com/images/P/B0001PIOX4.0...,http://images.amazon.com/images/P/B0001PIOX4.0...,http://images.amazon.com/images/P/B0001PIOX4.0...
1030868,275970,1586210661,9,Me Talk Pretty One Day,David Sedaris,2001,Time Warner Audio Major,http://images.amazon.com/images/P/1586210661.0...,http://images.amazon.com/images/P/1586210661.0...,http://images.amazon.com/images/P/1586210661.0...

In [67]:
pickle.dump(similarity,open('similarity.pkl','wb'))